.faq-container{
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
    /* background-color: azure; */
}
.title{
    border:1px solid rgb(0, 0, 0);
    background-color: rgb(159, 189, 253);
    text-align: center;
    
}
.sub-title{
    border:2px solid black;
    /* width: fit-content; */
    /* width:800px; */
    background-color: rgb(159, 189, 253);
    
}
.info-box{
    border: 2px solid black;
    /* width:800px; */
    overflow-wrap: break-word;
    /* padding: 0; */
    /* margin: 0; */
    background-color: rgb(159, 189, 253);
}
.FAQ-questions{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 10px;
    justify-content: center;
}

.faq-question{
    max-width: 800px;
    width: 100%;
}

.content-2{
    margin-top:60px;
    &&.content-2 h1{
        border: 1px solid black;
        width: 50%;
        padding: 10px 9px;
        background-color: rgb(159, 189, 253);
        border-radius: 30px;
        
    }
}

.winter{
    background-color: rgb(159, 189, 253);
    margin-top: 10px;
    border: 3px solid black;
    padding: 10px 10px;
    border-radius: 20px;
    width: 50%;
    /* margin: auto; */
}
.summer{
    background-color: rgb(159, 189, 253);
    margin-top: 10px;
    border: 3px solid black;
    padding: 10px 10px;
    border-radius: 20px;
    width: 50%;
}
