.home-container{
    width:100%;
    /* display:flex; */
    margin: auto;
    /* background-color: azure; */
}
.top{
    /* width:100%; */
    padding: 10px;
}
.search{
    padding: 10px;
    /* width:100%; */
    /* margin: auto; */
    border: 1px solid black;
    background-color: rgb(250, 125, 42);
    /* align-items: center; */
}
.location{
    width: 850px;
    margin-left: 450px;
    padding:6px 2px;
    border-radius: 30px 30px;
}
.cards{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 16px;
    /* width: 800px; */
    /* margin: auto; */
    /* display: evenly; */
}
.card{
    border: 1px solid rgb(0, 0, 0);
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text{
    border: 2px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
}

/* .content{
    display: flex;
} */

/* .bottom{
    border: 2px solid black;
    padding: 10px;
    
}
.map{
    background-color: brown;
    border: 2px solid black;
    height: 600px;
    width: 50%;
    margin: auto;
} */