.home-container{
    width:100%;
    /* display:flex; */
    margin: auto;
    /* background-color: azure; */
}
.top{
    /* width:100%; */
    padding: 10px;
}
.search{
    padding: 10px;
    /* width:100%; */
    /* margin: auto; */
    border: 1px solid black;
    background-color: aqua;
    /* align-items: center; */
}
.location{
    width:250px;
    padding:6px 2px;
}
.cards{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 16px;
    /* width: 800px; */
    /* margin: auto; */
    /* display: evenly; */
}
.card{
    border: 1px solid blue;
    flex: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 16px;

}
.bottom{
    /* border: 2px solid black; */
    padding: 10px;
    
}
.map{
    /* background-color: brown; */
    border: 2px solid black;
    height: 600px;
    width: 50%;
    margin: auto;
}