.dashboard{
    border: 4px solid black;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(159, 189, 253);
}
.box{
    border: 1px solid black;
    margin: auto;
    background-color: rgb(159, 189, 253);
}
.boxes{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
}
